<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ecueditor_25.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ecueditor_25.My.MySettings>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="User1" serializeAs="String">
                <value />
            </setting>
            <setting name="FDTpath" serializeAs="String">
                <value>C:\Program Files\Renesas\FDT4.00\</value>
            </setting>
            <setting name="Userlic" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Changemap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Firsttime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="comparepath" serializeAs="String">
                <value />
            </setting>
            <setting name="emailaddr" serializeAs="String">
                <value />
            </setting>
            <setting name="Vers" serializeAs="String">
                <value />
            </setting>
            <setting name="UFLA32Rpath" serializeAs="String">
                <value />
            </setting>
            <setting name="M32RRpath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataRate" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="LogRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MinTPS" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="WidebandO2Sensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Wideband0V" serializeAs="String">
                <value>7.35</value>
            </setting>
            <setting name="Wideband5V" serializeAs="String">
                <value>22.39</value>
            </setting>
            <setting name="FilterCLT80" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterClutchIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterGearNeutral" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTuneMinAvgAFR" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoTuneMaxAvgAFR" serializeAs="String">
                <value>17.1</value>
            </setting>
            <setting name="AutoTuneMaxPercentageFuelMapChange" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoTuneMinNumberLoggedValuesInCell" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FilterAFRGreaterThan" serializeAs="String">
                <value>17.1</value>
            </setting>
            <setting name="FilterAFRLessThan" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoTuneTargetAFRFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateConvertedValuesFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTuneStrength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutoTuneExhaustGasOffset" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="m_strConsumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="m_strConsumerSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="m_strToken" serializeAs="String">
                <value />
            </setting>
            <setting name="m_strTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoTuneCellStdDev" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="AutoTuneTimeWindow" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AutoTuneMapSmoothingStrength" serializeAs="String">
                <value>8</value>
            </setting>
        </ecueditor_25.My.MySettings>
    </userSettings>
</configuration>
